@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Radio+Canada:ital,wdth,wght@0,75..100,300..700;1,75..100,300..700&display=swap');

* {
    font-family: "Radio Canada", sans-serif;
    font-weight: 300;
}

html {
    height: 100%;
}

body.album-page {
    box-sizing: border-box;
    margin: 0;
    background-color: black;
    position: relative;
    height: 100%;
}

.album-page #cover {
    background-size: contain;
}

.album-page #infos {
    background: linear-gradient(180deg, rgb(32, 32, 32), dimgray);
    color: white;
}

.album-page #links li.platform a {
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: right 20px center;
}

.album-page #links li.platform-apple_music {
    background: linear-gradient(180deg, #fa233b, #fb5c74);
}

.album-page #links li.platform-apple_music a {
    background-image: url('../images/apple_music-logo.svg');
    border-left-color: #fb5c74;
}

.album-page #links li.platform-deezer {
    background-color: #a238ff;
}

.album-page #links li.platform-deezer a {
    background-image: url('../images/deezer-logo.svg');
    border-left-color: #a238ff;
}

.album-page #links li.platform-spotify {
    background-color: #1ed760;
}

.album-page #links li.platform-spotify a {
    background-image: url('../images/spotify-logo.png');
    border-left-color: #1ed760;
}

.album-page #links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.album-page #links li {
    border-top: 1px solid gray;
    display: block;
}

.album-page #links li a {
    display: block;
    text-decoration: none;
    text-shadow: white 0 1px 0;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}

.album-page #links li a:hover {
    border-left-width: 10px;
    border-left-style: solid;
    background-color: rgba(255, 255, 255, 0.6);
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}

.album-page #footer div.logo {
    font-family: "Jost";
    color: lightgray;
}

/*
@media (min-device-width: 501px) {
*/
body.album-page {
    padding: 20px;
}

.album-page #back-cover {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    filter: blur(1.5rem);
    opacity: 25%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    z-index: -1;
}

.album-page #container {
    width: calc(100vw - 100px);
    max-width: 500px;
    margin: 0px auto;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

.album-page #cover {
    aspect-ratio: 1;
    border-radius: 10px 10px 0 0;
}

.album-page #infos {
    padding: 10px 20px;
}

.album-page #infos h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 10px;
}

.album-page #infos h2 {
    font-weight: 100;
    font-size: 18px;
    margin: 0;
}

.album-page #links li a {
    padding: 10px 20px;
    font-weight: 500;
}

.album-page #links li:last-child,
.album-page #links li:last-child a {
    border-radius: 0 0 10px 10px;
}

.album-page #footer {
    box-sizing: border-box;
    width: calc(100vw - 100px);
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 50px;
}

.album-page #footer div {
    font-size: 75%;
    text-align: center;
}

.album-page #footer div.logo {
    font-size: 150%;
}

.album-page #footer div.legal {
    color: lightgray;
    font-weight: 100;
}

/*
}
*/

/*
@media (max-device-width: 500px) {
    body.album-page {
        padding: 0;
    }

    .album-page #back-cover {
        display: none;
    }

    .album-page #container {
        position: absolute;
        width: 500px;
        height: 250px;
        left: 0;
        top: 0;
    }

    .album-page #cover {
        position: absolute;
        left: 0;
        top: 0;
        height: 250px;
        width: 250px;
    }

    .album-page #infos {
        box-sizing: border-box;
        margin-left: 250px;
        padding: 5px 10px;
        height: 90px;
    }

    .album-page #infos h1 {
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        margin: 0;
        margin-bottom: 10px;
    }
    
    .album-page #infos h2 {
        font-weight: 100;
        font-size: 12px;
        margin: 0;
    }

    .album-page #links {
        position: absolute;
        right: 0;
        bottom: 30px;
        width: 250px;
    }
    
    .album-page #links li a {
        box-sizing: border-box;
        padding: 0 20px;
        line-height: 40px;
        font-weight: 500;
    }

    .album-page #footer {
        position: absolute;
        left: 250px;
        right: 0;
        bottom: 0;
        text-align: center;
    }

    .album-page #footer div.logo {
        font-size: 16px;
        padding-bottom: 3px;
    }

    .album-page #footer div.legal {
        display: none;
    }
}
*/